body {
    margin: 20px auto 50px;
    min-width: 610px; 
    max-width: 1000px;
    background: url(img/white-scratch-lines.png) repeat;
}

#header {
    padding-top: 20px;
    padding-bottom: 10px;
    background: white;
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px;
}

#title {
    text-align: center;
    font-size: x-large;
    font-family: Arial, sans-serif;
}


#content {
    background-color: white;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item {
    margin: 0px 5px;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.item:hover {
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    box-shadow: 1px 1px 6px 0px black;
}


.card {
    text-align: center;
    font-size: medium;
    font-family: Georgia, serif;
    padding: 10px 5px;
    position: relative;
}

.card-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.card-column {
    width: 33%;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#create-card {
    text-align: center;
}

.edit-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
}